/*
* CSS file for blogs
*/
.asd{
    position: absolute;
    top: -100px;
    width: 110%;
    height: 300px;
    left: -10px;
    background-color: #66e0ff;
    transform: rotate(-2deg);
    z-index: -1;
}

.window{
    width: 100%;
    height: 100%;
}